.user_card {
	display: block;
	padding: 2px 18px;
	border-bottom: rgb(255, 255, 255) solid 2px;
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	&:hover {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
	}
}

.user_card div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.user_card img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}

